<!-- src/componentes/inicio/CabeceraProductos.astro -->
---
// Lógica si es necesaria
---

<section id="productos" class="service-section-two">
 
    
    <div class="auto-container">
        <!-- Título de la sección -->
        <div class="sec-title centered">
            <div class="big-text">PRODUCTOS</div>
            <div class="title">Gasolina | Diésel | Químicos | Hidráulicos | Transmisión</div>
            <h2>Nuestro Catálogo <br> de Productos</h2>
        </div>
    </div>
</section>