<!-- src/componentes/inicio/CategoriasProductos.astro -->
---
// Puedes agregar lógica aquí si es necesario
---

<section class="service-section">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <!-- Bloque Línea Gasolina -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="shape-one" style="background-image:url(/images/icons/shape-1.png)"></div>
                        <div class="shape-two" style="background-image:url(/images/icons/shape-2.png)"></div>
                        <div class="image-layer" style="background-image:url(/images/resource/service.webp)"></div>
                        <div class="icon"><img src="/images/linea gasolina.webp" alt="Línea Gasolina"></div>
                        <h5><a href="#gasolina">Línea Gasolina</a></h5>
                    </div>
                </div>
                
                <!-- Bloque Línea Químicos -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="shape-one" style="background-image:url(/images/icons/shape-1.png)"></div>
                        <div class="shape-two" style="background-image:url(/images/icons/shape-2.png)"></div>
                        <div class="image-layer" style="background-image:url(/images/resource/service.webp)"></div>
                        <div class="icon"><img src="/images/productos/quimicos.webp" alt="Línea Químicos"></div>
                        <h5><a href="#quimicos">Línea Químicos</a></h5>
                    </div>
                </div>
                
                <!-- Bloque Línea Diesel -->
                <div class="service-block col-lg-4 col-md-6 col-sm-12">
                    <div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="shape-one" style="background-image:url(/images/icons/shape-1.png)"></div>
                        <div class="shape-two" style="background-image:url(/images/icons/shape-2.png)"></div>
                        <div class="image-layer" style="background-image:url(/images/resource/service.webp)"></div>
                        <div class="icon"><img src="/images/productos/diesel.webp" alt="Línea Diesel"></div>
                        <h5><a href="#diesel">Línea Diesel</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>