<!-- src/componentes/inicio/SeccionTransmision.astro -->
---
// Lógica si es necesaria
---

<section id="transmision" class="welcome-section style-two">
    <!-- Capa de patrón de fondo -->
    <div class="pattern-layer" style="background-image:url(/images/background/pattern-25.webp)"></div>
    
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Columna de imagen -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12" style="z-index: 5;">
                <div class="inner-column">
                    <div class="image wow fadeInUpBig" data-wow-delay="250ms" data-wow-duration="2500ms">
                        <img src="/images/ATF eight.webp" alt="Aceite para transmisión automática 8 Eight Motor Oil" />
                    </div>
                </div>
            </div>
            
            <!-- Columna de contenido -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12" style="z-index: 10;">
                <div class="inner-column">
                    <!-- Título y descripción -->
                    <div class="sec-title-three">
                        <div class="productos">8 Eight Motor Oil | <span class="productos2">Servicio Pesado</span></div>
                        <h2 style="color: black;">Aceite para Transmisión</h2>
                        <div class="text">
                            Experimente cambios más suaves y mayor durabilidad de su transmisión con nuestro fluido ATF. Formulado para proteger contra el desgaste y mantener óptimas propiedades de fricción, este producto garantiza una operación confiable a largo plazo sin comprometer su presupuesto.
                        </div>
                    </div>
                    
                    <!-- Listado de productos -->
                    <div class="row clearfix wow fadeIn" data-wow-delay="950ms" data-wow-duration="2500ms">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="text">
                                <span style="font-size: 1.5rem; font-weight: bold;">ATF | Dexron III & Mercon</span>
                            </div>
                            <div class="text">
                                <span style="font-size: 1rem; font-weight: bold;">Presentaciones:</span><br> 
                                1 L, 19 Litros (Cubetas).
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>