<!-- src/componentes/inicio/SeccionMoto.astro -->
---
// Lógica si es necesaria
---

<section id="moto" class="welcome-section style-two">
    <!-- Capa de patrón de fondo -->
    <div class="pattern-layer" style="background-image:url(/images/background/pattern-25.webp)"></div>
    
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Columna de imagen -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12" style="z-index: 5;">
                <div class="inner-column">
                    <div class="image wow fadeInUpBig" data-wow-delay="250ms" data-wow-duration="2500ms">
                        <img src="/images/Aceite Moto Eight.webp" alt="Aceite para moto 4T 8 Eight Motor Oil" />
                    </div>
                </div>
            </div>
            
            <!-- Columna de contenido -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12" style="z-index: 10;">
                <div class="inner-column">
                    <!-- Título y descripción -->
                    <div class="sec-title-three">
                        <div class="productos">8 Eight Motor Oil | <span class="productos2">Motos</span></div>
                        <h2 style="color: black;">Aceite para Moto 4T</h2>
                        <div class="text">
                            Mejore el rendimiento de su motocicleta con nuestro aceite 4T especializado. Desarrollado para proteger los componentes críticos del motor, ofrece una lubricación superior a temperatura óptima, garantizando un funcionamiento suave y confiable a un precio accesible.
                        </div>
                    </div>
                    
                    <!-- Listado de productos -->
                    <div class="row clearfix wow fadeIn" data-wow-delay="950ms" data-wow-duration="2500ms">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="text" style="color: rgb(13, 13, 13);">
                                <span style="font-size: 1.5rem; font-weight: bold;">Multigrado</span><br>
                                Viscosidad:
                            </div>
                            <ul class="list" style="color: rgb(69, 69, 69);">
                                <li><a href="/productos-moto-4t">SAE 20W50</a></li>
                            </ul>
                            <div class="text">
                                <span style="font-size: 1rem; font-weight: bold;">Presentación:</span><br> 
                                1 L.
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>