<!-- src/componentes/inicio/SeccionGasolina.astro -->
---
// Lógica si es necesaria
---

<section id="gasolina" class="welcome-section style-two">
    <!-- Capa de patrón de fondo -->
    <div class="pattern-layer" style="background-image:url(/images/background/pattern-25.webp)"></div>
    
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Columna de imagen -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12" style="z-index: 5;">
                <div class="inner-column">
                    <div class="image wow fadeInUpBig" data-wow-delay="250ms" data-wow-duration="2500ms">
                        <img src="/images/AceiteMonogradoEight.webp" alt="Aceites para motor a gasolina 8 Eight Motor Oil" />
                    </div>
                </div>
            </div>
            
            <!-- Columna de contenido -->
            <div class="content-column col-lg-7 col-md-12 col-sm-12" style="z-index: 10;">
                <div class="inner-column">
                    <!-- Título y descripción -->
                    <div class="sec-title-three">
                        <div class="productos" >8 Eight Motor Oil | <span class="productos2">Automotriz y Servicio Pesado</span></div>
                        <h2 style="color: black;">Aceite de Alto Rendimiento<br>Monogrado</h2>
                        <div class="text">
                            Experimente la eficiencia y confiabilidad que su motor merece con los aceites 8 Eight. <strong>Fabricados con estrictos estándares de calidad en Estados Unidos</strong>, ofrecemos una solución a un precio muy competitivo para los conductores que buscan valor sin comprometer la calidad.
                        </div>
                    </div>
                    
                    <!-- Listado de productos -->
                    <div class="row clearfix wow fadeIn" data-wow-delay="950ms" data-wow-duration="2500ms">
                        <!-- Monogrados -->
                        <div class="col-lg-4 col-md-4 col-sm-6 col-6">
                            <div class="text">
                                <span style="font-size: 1.5rem; font-weight: bold;">Monogrados</span><br>
                                Viscosidad:
                            </div>
                            <ul class="list">
                                <li><a href="/productos-aceite-sae40">SAE 40</a></li>
                                <li><a href="/productos-aceite-sae50">SAE 50</a></li>
                            </ul>
                            <div class="text">
                                <span style="font-size: 1rem; font-weight: bold;">Presentaciones:</span><br> 
                                1 L, 19 L.
                            </div>    
                        </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>