<!-- src/componentes/comunes/PiePagina.astro -->
---
// Puedes agregar lógica aquí si es necesario
---

<footer id="main-footer" class="main-footer" style="background-image:url(/images/background/pattern-12.png)">
    <div class="auto-container">
        <!-- Sección de Widgets -->
        <div class="widgets-section">
            <div class="row clearfix">
                <!-- Columna izquierda -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Widget de Logo -->
                        <div class="footer-column col-lg-12 col-md-12 col-sm-12">
                            <div class="footer-widget logo-widget">
                                <div class="logo">
                                    <a href="/">
                                        <img src="/images/footer-logo.svg" alt="8 Eight Motor Oil Logo" style="width: 100%;"/>
                                    </a>
                                </div>
                                <!-- Espacio para texto adicional si se requiere en el futuro -->
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Columna derecha -->
                <div class="big-column col-lg-6 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <!-- Widget de Información -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget newsletter-widget">
                                <h4>Acerca de la Marca</h4>
                                <div class="text">8 Eight Motor Oil es una marca de lubricantes y químicos para la industria automotriz, con sede en Guadalajara, Jalisco, desde el año 2010.</div>
                                
                                <!-- Redes Sociales -->
                                <ul class="social-box">
                                    <li><a href="https://facebook.com/8eightmotoroil" class="fa fa-facebook-f"></a></li>
                                    <li><a href="https://instagram.com/8eightmotoroil" class="fa fa-instagram"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Widget de Contacto -->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h4>Contacto</h4>
                                <ul class="contact-list">
                                    <li><span class="icon fa fa-map-marker"></span> Av. Juan Pablo II <br> Guadalajara, Jalisco</li>
                                    <li><span class="icon fa fa-phone"></span> 33 0000 0000</li>
                                    <li><span class="icon fa fa-whatsapp"></span> 33 0000 0000</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Pie de página con copyright -->
        <div class="footer-bottom">
            <div class="copyright">&copy; 2025 | 8 Eight Motor Oil es una marca de <strong>8A Automotriz</strong> | Guadalajara, Jal. | Powered by <a href="https://reidis.com">Reidis</a></div>
        </div>
    </div>
</footer>